/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 abr. 2022, 17:05:45
    Author     : Compaq
*/

*{
    margin: 0;
    padding: 0;
}

body{
    
}